.box {
  border-radius: 30px; 
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 55px;
  font-weight: 800;   
  border: none;
  border:5px solid #ffffff;
  background: transparent;
  margin: 10px;
  cursor: pointer;
}

.x {
  color: #fff;
  background: #0336FF;
}

.o {
  color:#FFDE03;
}
 

@media screen and  (max-width:550px){
  .box {
    border-radius: 20px; 
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;   
    border:3px solid #ffffff;
    background: transparent;
    margin: 10px;
    cursor: pointer;
  }
  .x {
    color: #fff;
    background: #0336FF;
  }
  
}

@media screen and  (max-width:400px){
  .box {
    border-radius: 20px; 
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;   
    border:2px solid #ffffff;
    background: transparent;
    margin: 5px;
    cursor: pointer;
  }
  .x {
    color: #fff;
    background: #0336FF;
  }
}